// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
figure {
    text-align: center; /* 使图片居中 */
}

figure img {
    display: inline-block; /* 确保图片被视为块级元素 */
    width: 100%;
    max-width: 800px;
}

figure figcaption {
    text-align: left; /* 使图注左对齐 */
}

/* 保证垂直滚动条始终存在，避免不同页面因滚动条显隐导致内容水平微移 */
html {
    overflow-y: scroll;
}